.account-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    padding: 30px 0px 10px;
    background-color: #fff;
    border-radius: 20px;
    height: 100px;
    justify-content: center;
    height: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.account-section:nth-child(2) {
    padding: 30px 0px 0px !important;
    margin-top: 50px;
}

.account-img {
    background-color: #ffcfeb;
    border: 1px solid #ff5fbd;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    text-align: center;
    color: #ff5fbd;
    cursor: pointer;
    text-transform: uppercase;
}

.h1 {
    font-size: x-large;
    font-weight: bold;
}

.account-info {
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.account-admin-info,
.app-section {
    padding: 12px 0px;
    border-top: 1px solid #eee;
    width: 100%;
    text-align: center;
}

.app-section {
    padding: 15px 0px !important;
}

.account-section:nth-child(2) .account-info {
    margin: 30px 0px 0px;
}

.account-info a:hover {
    background-color: #eee;
    cursor: pointer;
    transition: 0.3s ease all;
}

.account-info a:last-child {
    border-radius: 0px 0px 20px 20px;
}

.role {
    display: block;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.edit-button {
    position: absolute;
    right: 50px;
    font-size: small;
    color: #ababab;
    cursor: pointer;
}

.display-name-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.edit-input,
.save-button {
    padding: 10px;
    outline: none !important;
}

.edit-input {
    width: 30%;
    background-color: #eee;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
}

.save-button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    padding: 10px;
}

.color-list {
    display: flex;
    gap: 60px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.color-option {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.color {
    width: 20px;
    height: 20px;
    padding: 10px;
    border: 1px solid #212121;
    border-radius: 100px;
    transition: 0.3s ease all;
}

.color-name {
    font-size: small;
}

.pink {
    background-color: #ffcfeb;
    border: 1px solid #ff61be;
    color: #ff61be;
}

.blue {
    background-color: #aae0f9;
    border: 1px solid #2bbbf1;
    color: #2bbbf1;
}

.green {
    background-color: #c7e0bf;
    border: 1px solid #40ae49;
    color: #40ae49;
}

.red {
    background-color: #f0baa6;
    border: 1px solid #d1232a;
    color: #d1232a;
}

.yellow {
    background-color: #fcdcb4;
    border: 1px solid #f1991f;
    color: #f1991f;
}

#color-flex {
    position: relative;
}

.color-option:hover .color {
    outline: 1px solid #ababab;
    outline-offset: 5px;
}

.active-circle {
    outline: 1px solid #ababab;
    outline-offset: 5px;
}

body {
    background-color: #f1f1f1;
}

input {
    outline: none !important;
}

#dashboard {
    position: fixed;
    left: 20%;
    width: calc(80% - 100px);
    height: 100%;
    padding: 0px 50px;
    overflow-x: hidden;
    overflow-y: auto;
}

.save-button {
    background-color: #212121;
}

.admin-logo {
    font-size: 30px;
    font-family: 'Playfair-Bold';
}

#dashboard-sidenav {
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: #ffa4bd;
    padding: 10px 0px;
    z-index: 2;
    overflow-y: auto;
}

.logo-container {
    padding: 20px;
}

.dashboard-sidenav-content {
    margin-top: 30px;
}

.dashboard-sidenav-content a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 19px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.active-sidenav {
    background-color: #000;
    color: #fff !important;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}